body {
  background-color: aquamarine;
}

label::after {
  content: '\A';
  white-space: pre;
}

.row {
  display: flex;
  margin: 2em 0;
}

.row > * {
  flex: 1;
}

.row > *:first-child {
  margin-right: 1em;
  text-align: right;
  align-self: flex-start;
}

#title {
  text-align: center;
}

#description {
  text-align: center;
}

#survey-form {
  max-width: 720px;
  margin: 0 auto;
  padding: 2em;
  background-color: white;
}

#button-div {
  width: 100%;
  text-align: center;
}

#submit {
  width: 12em;
  height: 3em;
}
